{% extends "pages/base.html" %} {% block content %}
<div class="container my-10 w-3/4 mx-auto">
	<div>
		<h1 class="font-bold text-xl mb-5">About Sportify</h1>
		<p>
			At Sportify, our vision is to revolutionize access to sports facilities,
			making it easier than ever for enthusiasts to find and book their ideal
			playing spaces. We believe in fostering a community where sports are
			accessible to everyone, regardless of their location or preferred
			activity. Our platform is designed to connect players with a wide range of
			courts, from tennis and basketball to soccer and more, ensuring that every
			game is just a few clicks away.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">Our Values</h1>
		<p>
			We are driven by core values that guide our operations and interactions.
			Reliability is paramount; we ensure that our platform is dependable and
			that bookings are honored as promised. Transparency is key; we provide
			clear, upfront information about court availability, pricing, and
			facilities. Our commitment to quality means we continuously strive to
			improve our services, ensuring a seamless and satisfying experience for
			all users.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">Meet the Team</h1>
		<p>
			Our team is composed of passionate individuals dedicated to sports and
			technology. Led by Sarah, our CEO, and supported by a team of skilled
			developers, customer service representatives, and marketing specialists,
			we work collaboratively to enhance the CourtFinder experience. Each member
			brings unique expertise, united by a common goal: to make sports more
			accessible and enjoyable for everyone.
		</p>
	</div>
</div>
{% endblock %}
