{% extends "pages/base.html" %} {% block content %}
<div class="container my-10 w-3/4 mx-auto">
	<h1 class="font-bold text-2xl mb-5 text-[var(--main-color)]">
		Terms & Conditions
	</h1>
	<div>
		<h1 class="font-bold text-lg mb-5">1. Acceptance of Terms</h1>
		<p>
			By accessing or using the Sportify web application, you agree to be bound
			by these Terms and Conditions. If you do not agree to these terms, please
			do not use our services.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">2. User Responsibilities</h1>
		<p>
			Users are responsible for providing accurate and complete information when
			creating an account and making bookings. You agree to use the platform
			only for lawful purposes and not to engage in any activity that could harm
			the platform or other users.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">3. Booking Policies</h1>
		<p>
			Bookings are subject to availability and must be made through the Sportify
			web application. Payment must be completed at the time of booking unless
			otherwise specified. We reserve the right to refuse or cancel any booking
			at our discretion.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">4. Cancellation Rules</h1>
		<p>
			Cancellations made more than 24 hours before the scheduled booking time
			may be eligible for a full refund. Cancellations made within 24 hours of
			the booking time may not be eligible for a refund. Please refer to our
			detailed cancellation policy for more information.
		</p>
	</div>
	<div class="mt-10">
		<h1 class="font-bold text-xl mb-5">4. Cancellation Rules</h1>
		<p>
			Cancellations made more than 24 hours before the scheduled booking time
			may be eligible for a full refund. Cancellations made within 24 hours of
			the booking time may not be eligible for a refund. Please refer to our
			detailed cancellation policy for more information.
		</p>
	</div>
</div>
{% endblock %}
