:root {
	box-sizing: border-box;
	--main-color: #2b9eed;
	--second-color: hsl(163, 54%, 97%);
	--third-color: hsl(180, 41%, 92%);
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: block;
	width: 100%;
	padding: 0px 70px;
	margin: 0px auto;
}
nav ul a,
a.link {
	padding: 5px 10px;
	border-radius: 5px;

	&:hover,
	&.active {
		background-color: var(--main-color);
		color: white;
	}
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

input,
input.search {
	color: black !important;
	background-color: #eee;
	padding: 0px 20px !important;
	outline: none;
	border-radius: 6px;
	border: 1px solid #d4d2d2ee;
	display: block;
	width: 100%;
	&:focus {
		border: 2px solid var(--main-color);
	}
}
input.search {
	width: 40%;
	height: 40px;
	&:focus {
		box-shadow: 0px 0px 15px 0px var(--main-color);
	}
}

.btn {
	padding: 4px 20px;
	font-weight: 600;
	cursor: pointer;
	background-color: var(--main-color);
	border-radius: 7px;
	width: fit-content;
	&:hover {
		opacity: 0.95;
	}
}
