<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sportify</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/global.css')}}"
		/>

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<header>{% include "layout/navbar.html" %}</header>
		<main class="min-h-[60vh] flex gap-10">
			<aside class="px-5 pt-10 w-1/5 h-screen bg-zinc-100 flex flex-col gap-5">
				<a href="/profile/info" class="block link">Info</a>
				<a href="/profile/update" class="block link">Update</a>
				<a href="/profile/delete" class="block link">Delete</a>
			</aside>
			<section class="pt-10 ml-5 w-full">
				{% block content %} {% endblock %}
			</section>
		</main>
		<footer class="text-center mt-10 mb-5 pt-6 border-t border-t-zince-200">
			{% include "layout/footer.html" %}
		</footer>
		<!-- JS files -->
		<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
		<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
		<script src="https://unpkg.com/lucide@latest"></script>

		<script>
			lucide.createIcons(); // This renders all <i data-lucide="">
		</script>
	</body>
</html>
