<div class="my-5 h-56 rounded-md overflow-hidden relative">
	<img class="h-full object-cover w-full" src="$$img$$" />
	<h3 class="absolute bottom-3 left-5 text-white font-bold z-10">$$name$$</h3>
</div>
<h1 class="font-bold mt-10 text-lg tracking-wider">Court Booking</h1>
<h2 class="font-semibold mt-2 text-sm">Booking details</h2>
<div class="mt-4 rounded-xl px-5 py-3 bg-[var(--second-color)]">
	<div class="details">
		<h4>Court</h4>
		<p>$$name$$</p>
		<h4>Username</h4>
		<p class="capitalize">$$username$$</p>
	</div>
	<div class="details">
		<h4>Price</h4>
		<p>$$price$$ EGP/hr</p>
		<h4>Phone</h4>
		<p>$$phone$$</p>
	</div>
	<div class="details">
		<h4>Sport</h4>
		<p>$$sport$$</p>
		<h4>E-mail</h4>
		<p>$$email$$</p>
	</div>
	<div class="details">
		<h4>Address</h4>
		<p class="col-span-2">$$address$$</p>
	</div>
</div>
<h3 class="mt-6 font-semibold">Available Times:</h3>
<div class="mt-4 rounded-xl px-5 py-3 bg-[var(--second-color)]">$$dates$$</div>
