<div class="container text-center space-y-5 text-sky-800">
	<ul class="flex justify-evenly gap-7 font-medium">
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/privacy-policy">Privacy Policy</a></li>
		<li><a href="/Terms-of-Service">Terms of Service</a></li>
	</ul>

	<div class="flex justify-center gap-6">
		<a href="https://youtube.com" target="_blank"
			><i data-lucide="youtube"></i
		></a>
		<a href="https://facebook.com" target="_blank"
			><i data-lucide="facebook" fill="currentColor"></i
		></a>
		<a href="https://x.com" target="_blank"><i data-lucide="twitter"></i></a>
		<a href="https://instagram.com" target="_blank"
			><i data-lucide="instagram"></i
		></a>
	</div>
	<p class="font-medium">&copy; 2025. Sportify All rights reserved.</p>
</div>
