<nav
	id="navbar"
	class="flex justify-between items-center px-16 py-3 border-b-[1px] border-b-zinc-200"
>
	<div>{% include "components/logo.html" %}</div>
	<ul class="text-sm flex gap-5 items-center">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li id="login"><a href="/login">login</a></li>
		<li id="logout"><a href="/" id="logout">Logout</a></li>
		<li
			id="userPhoto"
			class="bg-[var(--main-color)] ml-2 text-xl self-center text-white rounded-full size-10 flex justify-center items-center"
		></li>
	</ul>
</nav>
